<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="vue-app">
        <!-- output data and run methods -->
        <p>{{ greet('Morning') }}</p>
        <h1>{{ name }}</h1>
        <h2>{{ job }}</h2>
        
        <!-- data binding in vue -->
        <h3>
            <a v-bind:href="website">My website</a> &nbsp
            <a :href="website">My website</a> &nbsp
            <span v-html="websiteTemplate"></span>
        </h3>
        <label for="myname">My name</label>
        <input type="text" name="myname" id="" :value="name">
    </div>
    <hr>
    <div id="vue-app-2">
        <h1>Event</h1>
        <p>My age is <strong>{{ age }}</strong></p>
        <!-- Vue action on events -->
        <button v-on:click="age++">Add a year</button>
        <button v-on:click="sub(1)">Subtract a year</button>
        <button v-on:click="add()">Add using method</button>
        <button v-on:click="sub(10)">Subtract using method</button>
        <div id="canvus" v-on:mousemove="updateXY">{{x}}, {{y}}</div>
        <a href="http://www.facebook.com" v-on:click.stop="showAlert">Go Facebook</a>
    </div>
    <hr>
    <div id="vue-app-3">
        <h1>Keyboard Event</h1>
        <p id="name-message"></p>
        <p id="name-email"></p>
        <label for="name"> Name </label>
        <input type="text" name="name" id="vue-app-3-name" v-on:keyup.enter="name">
        <label for="email"> Email </label>
        <input type="text" name="email" id="vue-app-3-email" v-on:keyup.enter="email">
    </div>
    <hr>
    <div id="vue-app-4">
        <h1>Two way data binding</h1>
        <p id="vue-app-4-name-message">{{ v4name }}</p>
        <p id="vue-app-4-name-email">{{ v4email }}</p>
        <label for="name"> Name </label>
        <input type="text" name="name" id="vue-app-4-name" v-model="v4name">
        <label for="email"> Email </label>
        <input type="text" name="email" id="vue-app-4-email" v-model="v4email">
    </div>
    <hr>
    <div id="vue-app-5">
        <h1>Computer Properties</h1>
        <label for="a"> A: </label>
        <input type="text" name="a" id="vue-app-5-a" v-model.number="a">
        <label for="b"> B: </label>
        <input type="text" name="b" id="vue-app-5-b" v-model.number="b">
        <label for="sum">Sum: </label>
        <input type="text" name="sum" id="vue-app-5-sum" :value="calSum" readonly>
    </div>



    <!-- JS scripts -->
    <script src="js/script.js"></script>
</body>
</html>